
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/logintemplate}">
<head>
    <title>Travel blog</title>
</head>
<body>


<div layout:fragment="login" class="container">
    <h2>Travel blog</h2>
    <form class="form-horizontal" th:action="@{/login}" th:object="${profile}" method="post">
        <h2 class="form-heading">Log in</h2>

        <div class="form-group ${error != null ? 'has-error' : ''}">
            <label class="control-label col-sm-2" for="username">Username</label>
            <input name="username" id="username" type="text" class="form-control" placeholder="Username"
                   autofocus="true"/>

        </div>
        <div class="form-group ${error != null ? 'has-error' : ''}">
        <span>Password</span>
            <input name="password" id="password" type="password" class="form-control" placeholder="Password"/>

            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
        </div>
    </form>
    <h4 class="text-center">
        <a th:href="@{/login/registration}">Create an account</a>
    </h4>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="${contextPath}/resources/js/bootstrap.min.js"></script>
</body>
</html>